extends layout

block content
  .aligncenter.textcenter
   h1= title
   p(id="sub")= subtitle

   <!--form method="post" action="/"-->
   <!--form id="form"-->
   .input-group.aligncenter
    span.input-group-addon #
    <input type="text" id="taginput" class="form-control" placeholder="Hashtag" name="hashtag">

  div.container
   div(id="hej").row
   //
    - for (var i = 0; i < flickrr.length; ++i){
    div.col-md-2
     a(href= "https://farm" + flickrr[i].farmid + ".staticflickr.com/"+ flickrr[i].serverid +"/"+ flickrr[i].photoid +"_"+ flickrr[i].secretid +"_b.jpg", data-lightbox="pics" data-title= flickrr[i].title) 
      img.img-thumbnail.pos(src= "https://farm" + flickrr[i].farmid + ".staticflickr.com/"+ flickrr[i].serverid +"/"+ flickrr[i].photoid +"_"+ flickrr[i].secretid +"_q.jpg")
    - }

  

