extends layout

block content
  .aligncenter.textcenter
   h1= title
   p(id="sub")= subtitle

   .input-group.aligncenter
    span.input-group-addon #
    <input type="text" id="taginput" class="form-control" placeholder="Hashtag" name="hashtag">

  div.container
   div(id="base_row").row


