extends layout

block content
  .aligncenter.textcenter
   h1= title
   p(id="sub")= subtitle

   <!--form method="post" action="/"-->
   <!--form id="form"-->
   .input-group.aligncenter
    span.input-group-addon #
    <input type="text" id="taginput" class="form-control" placeholder="Hashtag" name="hashtag">

  div.container
   div(id="hej").row

  

