doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href="/css/lightbox.css")
  body
    block content

    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="/js/lightbox.min.js")
    script(src="/js/client.js")